.adobe {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;

    padding: 48px 0;
}

.adobe__top {
    padding: 60px 0 30px 0;
    color: white;
    font-size: clamp(2rem, 2.222vw + 1.333rem, 4rem);
    font-weight: 700;
    text-align: center;
}

.adobe__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(19, 1fr);
    gap: 10px;

    max-width: 660px;


    @media (max-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
    }

    @media (max-width: 400px) {
       display: flex;
       flex-flow: column;
    }
}

.adobe__card {
    display: flex;
    justify-content: center;
    flex-flow: column;
    grid-area: var(--adobe--card-area, 1 / 1 / 11);

    gap: 12px;

    /* width: 150px; */
    /* height: max-content; */

    padding: 15px 20px;

    color: rgb(20, 190, 238);
    font-size: 12px;

    border: 5px solid currentColor;
    background-color: rgba(0, 39, 48, 0.5);

    & p {
        color: white;
    }

    &.--ae {
        grid-area: var(--adobe--card-area-ae, 1 / 2 / 7);

        color: rgb(203, 147, 237);
        background-color: rgba(39, 28, 48, 0.5);
    }

    &.--id {
        grid-area: var(--adobe--card-area-id, 1 / 3 / 9);

        color: rgb(224, 77, 139);
        background-color: rgba(50, 14, 26, 0.5);
    }

    &.--ai {
        grid-area: var(--adobe--card-area-ai, 11 / 1 / 20);

        color: rgb(232, 126, 34);
        background-color: rgba(47, 24, 0, 0.5);

    }

    &.--xd {
        grid-area: var(--adobe--card-area-xd, 7 / 2 / 15);

        color: rgb(229, 72, 162);
        background-color: rgba(48, 10, 30, 0.5);

    }

    &.--an {
        grid-area: var(--adobe--card-area-an, 9 / 3 / 15);

        color: rgb(221, 102, 77);
        background-color: rgba(48, 16, 18, 0.5);
    }

    &.--au {
        grid-area: var(--adobe--card-area-au, 15 / 2 / 20);

        color: rgb(77, 214, 190);
        background-color: rgba(7, 48, 39, 0.5);
    }

    &.--dw {
        grid-area: var(--adobe--card-area-dw, 15 / 3 / 20);

        color: rgb(71, 247, 15);
        background-color: rgba(7, 50, 2, 0.5);
    }

    @media (max-width: 575px) {
        /* --adobe--card-area: ;*/
        /* --adobe--card-area-ae: ; */
        --adobe--card-area-id: 20 / 1 / 29 / 3;
        /* --adobe--card-area-ai: ; */
        /* --adobe--card-area-xd: ; */
        --adobe--card-area-an: 29 / 1 / 30 ;
        /* --adobe--card-area-au: ; */
        --adobe--card-area-dw: 29 / 2 / 30;
    }
    
    @media (max-width: 400px) {
        grid-area: auto !important;
    }
}

.adobe__title {
    font-size: 24px;
    font-weight: 700;
}

.adobe__card-group {
    display: flex;
    flex-flow: column;
    gap: 3px;

    & mark {
        margin-bottom: 5px;
        font-weight: 500;
        opacity: 0.5;
    }

    &.--row {
        flex-flow: row wrap;
        column-gap: 15px;

        & mark {
            width: 100%;
        }
    }
}