.auth {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth__main {
    margin: auto;

    max-width: 386px;
    width: 100%;

    @media (max-width: 370px) {
        min-width: 100%;
        width: 100%;
    }
}

.auth__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        font-size: 22px;
        font-weight: 400;
    }

    &.--welcome {
        gap: 4px;
        justify-content: center;
        flex-flow: column;

        opacity: 0.8;

        & .auth__-top-welcome {
            font-size: 24px;
        }

        & .auth__-top-email {
            font-size: 12px;
        }

        & .auth__-ari-people {
            margin-top: 24px;
            font-size: 70px;
        }
    }
}

.auth__input-container {
    display: none;

    &.--show {
        display: block;
    }
}

.auth__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    margin-top: 24px;

    font-size: 14px;
    opacity: 0.7;

    @media (max-width: 275px) {
        flex-flow: column;
    }
}

.form__link {
    text-decoration: underline;

    &:hover {
        text-decoration: underline var(--color-blue-violet);
    }
}

.auth__footer {
    display: inline-flex;
    flex-flow: column;

    margin-top: auto;
    padding: 0 0 20px 0;

    width: 100%;

    font-size: 12px;
    text-align: center;

    opacity: 0.8;
}