.auth {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth__main {
    margin: auto;

    max-width: 386px;
    width: 100%;

    @media (max-width: 370px) {
        min-width: 100%;
        width: 100%;
    }
}

.auth form {
    display: flex;
    flex-flow: column;
    gap: 20px;

    & .form__group {
        display: grid;
        gap: 16px;

        @media (min-width: 420px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.auth__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 28px;

    & p {
        font-size: 22px;
        font-weight: 400;
    }

    &.--welcome {
        gap: 4px;
        justify-content: center;
        flex-flow: column;

        opacity: 0.8;

        & .auth__-top-welcome {
            font-size: 24px;
        }

        & .auth__-top-email {
            font-size: 12px;
        }

        & .auth__-ari-people {
            margin-top: 24px;
            font-size: 70px;
        }
    }
}

.auth__bottom {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 16px;

    & p {
        text-align: center;
        font-size: 14px;
        opacity: 0.7;
    }

    @media (max-width: 275px) {
        flex-flow: column;
    }
}

.form__link {
    text-decoration: underline;

    &:hover {
        text-decoration: underline var(--color-blue-violet);
    }
}

.auth__footer {
    display: inline-flex;
    flex-flow: column;

    margin-top: auto;
    padding: 0 0 20px 0;

    width: 100%;

    font-size: 12px;
    text-align: center;

    opacity: 0.8;
}