.autodesk-widget {
    position: fixed;

    display: flex;
    flex-direction: column;

    bottom: 30px;
    right: 30px;

    z-index: 200;

    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .25);
    animation: animCard 1s ease-in-out;

    &.--hide {
        display: none;
    }

    @media (max-width: 730px) {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &.--full {
        margin: auto;
        inset: 0;
        height: 80vh;
        width: 60vw;
    }
}

.autodesk-widget__header {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 0 30px;

    height: 60px;
    width: 100%;

    color: var(--color-light);

    background: var(--color-black);
    border-radius: 8px 8px 0 0;

    & span:first-child {
        width: 75%;

        @media (max-width: 730px) {
            width: 85%;
        }
    }

    & span:nth-child(2) {
        flex-grow: 1;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;

        &[data-tooltipe]::after {
            position: absolute;
            content: attr(data-tooltipe);
            transform: translate(-26px, 20px);
            padding: 8px;

            font-size: 12px;
            font-weight: 400;
            color: var(--color-light);

            opacity: var(--close-tooltipe-opa, 0);
            transition: opacity .15s ease-in-out;

            background-color: var(--color-grey);
            border-radius: 5px;
            z-index: 100;
        }

        &:hover {
            --close-tooltipe-opa: 1;
        }
    }

    & span:nth-child(3) {
        display: inline-flex;
        flex-grow: 1;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;

        &[data-tooltipe]::after {
            position: absolute;
            content: attr(data-tooltipe);
            transform: translate(-26px, 20px);
            padding: 8px;

            font-size: 12px;
            font-weight: 400;
            color: var(--color-light);

            opacity: var(--close-tooltipe-opa, 0);
            transition: opacity .15s ease-in-out;

            background-color: var(--color-grey);
            border-radius: 5px;
            z-index: 100;
        }

        &:hover {
            --close-tooltipe-opa: 1;
        }

        @media (max-width: 730px) {
            display: none;
        }
    }

    & span:last-of-type {
        position: relative;
        font-size: 12px;
        font-weight: 600;
        margin: auto 0 auto auto;
        cursor: pointer;

        &[data-tooltipe]::after {
            position: absolute;
            content: attr(data-tooltipe);
            transform: translate(-26px, 20px);
            padding: 8px;

            font-size: 12px;
            font-weight: 400;
            color: var( --color-light);

            opacity: var(--close-tooltipe-opa, 0);
            transition: opacity .15s ease-in-out;

            background-color: var(--color-grey);
            border-radius: 5px;
            z-index: 100;
        }

        &:hover {
            --close-tooltipe-opa: 1;
        }
    }

    @media (max-width: 730px) {
        min-height: 7%;
        min-width: 100%;
    }
}

.autodesk-widget__content {
    position: relative; 

    display: flex;
    flex-direction: column;

    padding: 20px;

    height: 490px;
    width: 100%;

    background-color: var(--color-light-grey);
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 730px) {
        height: 100%;
    }
}

.content__card {
    max-width: 300px;
    padding: 20px;
    margin-bottom: 16px;


    font-size: 14px;
    line-height: 1.5;
    color: var(--color-dark-grey);

    background-color: var(--color-light);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 0;
}

.content__card-user {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-user {
    hyphens: manual !important;
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 300px;
    padding: 20px;
    margin: auto 0 16px auto;

    font-size: 14px;
    line-height: 1.5;
    color: var(--color-light);

    background-color: var(--color-dark-grey);
    border-radius: 10px 10px 0 10px;
}

.content-card__bottom {
    & p {
        font-size: 14px;
        line-height: 1.5;
        color: var(--color-dark-grey);

        margin-bottom: 10px;
    }
}

.content__example {
    position: relative;
    display: flex;
    margin-top: 16px;

    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.25;

}

.content__example::-webkit-details-marker {
    display: none;
}

.content__example:before {
    position: absolute;
    inset: 2px auto auto 40%;

    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);

    content: var(--details-show, '\005E');
}

details[open] .content__example {
    --details-mode: '\e910';
    margin-bottom: 16px;
}

.autodesk-widget__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 16px 10px;

    max-height: 70px;
    width: 100%;

    background-color: white;
    border-top: 1px solid #dedede;

    & textarea {
        flex-grow: 2;
        font-size: 14px;
        line-height: 1.5;

        padding: 20px 12px 0 12px;
        color: var(--color-black);

        border: none;
        resize: none;
        outline: none;
    }

    & .autodesk-widget__line {
        margin: 0px 16px 0px 4px;
        width: 1px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    & .button-send {
        font-size: 20px;
        font-weight: 600;
    }
}

@keyframes animCard {
    0% {
        opacity: 0;
        transform: translateY(110%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}