.collection {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    padding: 3rem 0;
    margin-bottom: 5rem;
}

.group-image {
    height: 3rem;
    
    @media (max-width: 500px) {
        height: 2.2rem;
    }
}

.collection__flex {
    display: flex;
    flex-direction: row;
    min-width: 100%;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.collection__first {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-right: 1.5rem;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.collection__top {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.collection__title {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    font-size: clamp(0.9rem, 0.2231rem + 2.4615vw, 1.3rem);
    line-height: 1.25;

    margin-bottom: 16px;
}

.collection__title-two {
    font-size: clamp(1.1rem, 0.2538rem + 3.0769vw, 1.6rem);
    margin-bottom: 1rem;
}

.collection__subtitle {
    margin-bottom: 2rem;
}

.collection__block-product {
    display: flex;
    flex-flow: column;
}

.collection__block-top {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: clamp(0.9rem, 0.2231rem + 2.4615vw, 1.3rem);
    line-height: 1.25;
}

.collection__group-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @media (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
        gap: 1rem;
    }
}

.collection__item {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    font-size: clamp(0.8rem, 0.6087rem + 0.6957vw, 1rem);
}

.collection__second {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.collection__learn {
    text-align: start;
    font-weight: 600;
    font-size: clamp(0.9rem, 0.2231rem + 2.4615vw, 1.3rem);
    margin-bottom: 2rem;
}

.collection__video {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    & .collection-video-btn-1, .collection-video-btn-2 {
        cursor: pointer;
        width: 200px;
    }

    @media (max-width: 1000px) {
        flex-direction: column;

        & .collection-video-btn-1, .collection-video-btn-2 {
            width: 100%;
        }
    }
}

.collection__video-title {
    display: flex;
    flex-flow: column;
    gap: 5px;
    max-width: 320px;
    font-size: 16px;

    & h2 {
        font-size: 18px;
        font-weight: 600;
    }

    & a {
        font-size: 18px;
        text-decoration: underline;
        color: var(--color-black);

        &:hover {
            text-decoration: underline var(--color-blue-violet);
        }
    }

    @media (max-width: 1000px) {
        max-width: 640px;
    }

    @media (max-width: 500px) {
        max-width: 300px;
    }
}