.basket {
    display: none;
    flex-flow: column;

    position: fixed;
    right: 0;
    left: auto;
    top: 79px;
    bottom: 0;

    min-width: 31rem;
    min-height: calc(100% - 79px);
    border: none;
    box-shadow: 0 0 5px 0;
    z-index: 1000;

    background-color: white;
}

.basket[open] {
    display: flex;
    flex-flow: column;
}

.basket::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.basket__wrap {
    display: flex;
    flex-flow: column;
    flex: 1 1;
    z-index: 1;
    bottom: 0;
    background-color: white;
}

.basket__top-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-width: 100%;

    & p {
        font-size: 20px;
        font-weight: 600;
    }
}

.basket-btn-close {
    display: inline-flex;
    align-items: center;
    padding: 3px 3px 0 3px;

    & span {
        color: black;
        font-weight: bold;
    }
}

.basket__new-sub {
    display: flex;
    font-size: 1.3rem;
    padding: 1rem 20px;
    min-width: 100%;
    box-shadow: inset 0 2px 0 0 rgb(202, 202, 202);
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid rgb(202, 202, 202);
}

.basket__content {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}

.basket__content-card {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid rgba(202, 202, 202, 0.7);
    margin-bottom: 10px;
}

.basket__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    & p {
        display: inline-flex;
        font-size: 14px;
        gap: 10px;
    }

    & h3 {
        font-size: 1rem;
        font-weight: 600;
    }
}

.basket__content-title {
    display: flex;
    gap: 40%;
    margin-bottom: 10px;
    font-size: 14px;
}

.basket__content-subtitle {
    display: flex;
    gap: 40%;
    margin-bottom: 32px;

    & h3 {
        font-weight: 600;
        font-size: 16px;
    }
}

.basket__content-btn-remove {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 10px;

    & button {
        text-decoration: underline;

        &:hover {
            text-decoration: underline #5f60ff;
        }
    }
}

.basket__container {
    position: sticky;
    padding: 20px;
    bottom: 0;
    border-top: 1px solid rgb(202, 202, 202);
    background-color: white;
}

.basket__footer {
    display: flex;
    flex-flow: column;
}

.basket__footer-top {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    & p {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.basket__footer-desk {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.basket__footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 10px;

    font-weight: 600;
    color: white;

    background-color: black;
}

.basket__footer-bottom {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.basket__close {
    position: fixed;
    inset: 0;
    opacity: 0;
}