.form-Wrapper {
    position: absolute;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 386px;
    width: 100%;

    font-family: "Artifakt Element";

    @media (max-width: 370px) {
        min-width: 100%;
        width: 100%;
    }
}

.form-Wrapper__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        font-size: 22px;
        font-weight: 400;
    }
}

.form-Wrapper__signin {
    position: relative;
    display: flex;
    flex-flow: column;

    margin-top: 28px;
}

.form-Wrapper__full-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 16px;

    margin-top: 28px;
}

.form-Wrapper__form {
    display: flex;
    flex-flow: column;

    margin-top: 16px;
}

.form-Wrapper__pravicy {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-top: 20px;
    line-height: 1.4;

    color: rgba(0, 0, 0, 0.6);
    font-size: 11.5px;

    & input {
        width: 24px;
        aspect-ratio: 1;
    }

    & a {
        color: rgba(0, 0, 0, 0.6);
    }
}

.form-Wrapper__label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.form-Wrapper__input {
    position: relative;
    padding: 0 10px;
    box-shadow: inset 0 -1px 0 0 #000, inset 0 0 0 1px #0000004d;

    height: 40px;
    width: 100%;

    font-size: 14px;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.2s linear;

    &:focus {
        box-shadow: inset 0 -1px 0 0 var(--color-blue-violet), inset 0 0 0 2px var(--color-blue-violet);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.2);
        font-weight: 600;
    }


    &.error {
        box-shadow: inset 0 -1px 0 0 red, inset 0 0 0 2px red !important;
    }
}


.form-Wrapper__button {
    margin-top: 24px;

    text-align: center;
    color: white;

    border-radius: 8px;
    background: black;

    & button {
        padding: 8px 0;
        width: 100%;
    }
}

.form-Wrapper__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    margin-top: 24px;

    font-size: 14px;
    opacity: 0.7;

    @media (max-width: 275px) {
        flex-flow: column;
    }
}

.form__link {
    text-decoration: underline;

    &:hover {
        text-decoration: underline var(--color-blue-violet);
    }
}

.footer-form {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;

    margin: auto;

    width: 100%;

    display: inline-flex;
    flex-flow: column;

    font-size: 12px;
    text-align: center;

    opacity: 0.8;
}