.loader {
    position: absolute;
    z-index: 200;
    top: 40%;
    left: 40%;

    width: 80px;
    height: 80px;
    border: 5px solid rgba(119, 119, 119, 0.7);

    border-radius: 50%;
    border-left-color: rgb(92, 91, 91);
    animation: loader 1s linear infinite;
}

@keyframes loader {
    100% {
        rotate: 360deg;
    }
}
