.products {
    display: flex;
    flex-flow: column;
    min-width: 100%;
    margin: 0 24px 5rem 24px;
}

.products__top {
    font-weight: 700;
    font-size: clamp(1rem, 0.5217rem + 1.7391vw, 1.5rem);
    line-height: 1.25;

    margin-bottom: 1rem;
}

.products__block {
    display: grid;

    margin-bottom: 16px;

    color: #212121;

    @media (min-width: 990px) {
        grid-template-columns: 1.7fr 1fr 1fr;
    }
}

.products__item {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-size: 14px;
    font-weight: 600;

    padding: 1rem 1.25rem;
    border: 1px solid #ccc;

    &.--bg-none {
        border: none;
    }
}

.products__circle {
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;

    &.--black {
        background-color: black;
    }

    &.--smoke {
        background: linear-gradient(to left, #000000 50%, #ffffff 50%);
        border: 1px solid black;
    }

    &.--white {
        border: 1px solid black;
    }
}

.products__bottom {
    display: flex;

    & button {
        padding: 4px 10px;
        border: 1px solid black;
        box-shadow: 0 0 1px 0.5px black;
        scale: 1;
        transition: all 0.2s ease-in-out;

        &:hover {
            scale: 1.02;
            transition: all 0.3s ease-in-out;
        }
    }
}

.products__bottom-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: auto 0 auto auto;
}

.products__bottom-element {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}