.profile-container {
    display: flex;

    width: 100%;
    height: calc(100vh - 74px);
}

.profile-aside {
    position: relative;

    min-width: 280px;
    background: var(--color-light);

    &.--is-open {
        position: absolute;
        top: 74px;
        left: 0;
        z-index: 110;

        min-height: 100%;

        border-right: 1px solid black;
    }
}

.profile-aside__items {
    display: flex;
    flex-flow: column;
}

.profile-aside__item {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    height: 40px;

    margin: 10px 0 10px 0;
    padding: 0 16px;

    & span {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-aside-item-icon, inherit);
    }

    &:hover {
        --color-aside-item-icon: var(--color-blue-violet);

        &::before {
            position: absolute;

            top: 0;
            left: 0;

            height: 40px;

            content: '';

            border-left: 2px solid var(--color-blue-violet);
        }
    }
}

.profile-main {
    --profile-spacer: 64px;

    position: relative;

    display: flex;
    flex: 1;
    flex-flow: column;

    padding: 32px var(--profile-spacer) 0;

    border-left: 1px solid var(--color-soft-gray);
    background: var(--color-frosted-white-op-100);
    overflow-y: auto;
}

.profile-main__top-card {
    display: flex;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: 126px;

    padding: 48px 32px;
    margin-bottom: 48px;

    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(204, 204, 204, .5) inset, 0px -1px 0px 0px #666 inset;
    background: var(--color-light) no-repeat right / auto;
    background-image: url(../../image/profile.autodesk.png);

    @media (min-width: 993px) {
        gap: 18px;
        background-image: url(../../image/profile.autodesk-2.png);
    }

    @media (min-width: 574px) {
        gap: 16px;
        height: 146px;
        background-image: url(../../image/profile.autodesk-3.png);
    }
}

.profile-main__welcome {
    font-size: clamp(1.125rem, 1.06rem + 0.278vw, 1.3125rem);
    font-weight: 700;
    line-height: 24px;

    @media (min-width: 574px) {
        width: 40%;
    }
}

.profile-main__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;

    margin: 2rem 0;
}

.profile-card {
    display: flex;

    width: 100%;
    height: auto;

    margin-bottom: 32px;

    box-shadow: 0px 0px 0px 1px rgba(204, 204, 204, .5) inset, 0px -1px 0px 0px #666 inset;
    border-radius: 6px;
    background: var(--color-light);

    @media (min-width: 990px) {
        width: calc(50% - 16px);
    }
}

.profile-card__first {
    padding: 24px 20px;
    font-size: 24px;

    @media (min-width: 574px) {
        padding: 32px 33px;
        font-size: 48px;
    }
}

.profile-card__second {
    display: flex;
    align-items: flex-start;
    flex-flow: column;

    padding: 24px 24px 24px 0px;

    @media (min-width: 574px) {
        padding: 32px 32px 28px 0px;
    }
}

.profile-card__top {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-dark-grey);

    opacity: 0.7;
}

.profile-card__title {
    padding-top: 26px;
    font-size: clamp(1.125rem, 1.06rem + 0.278vw, 1.3125rem);
    line-height: 1.25;
    color: var(--color-black);
}

.profile-card__subtitle {
    padding: 16px 0 32px;

    color: var(--color-dark-grey);
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.7;
}

.profile-card__btn {
    padding: 8px 20px;

    border-radius: 4px;
    border: 1px solid var(--color-black);

    &:hover {
        border: 1px solid var(--color-blue-violet);
    }
}

.profile-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 24px;

    font-size: 12px;

    background: var(--color-soft-gray);

    &.--offset {
        margin: 0 calc(var(--profile-spacer) * -1);
    }

    @media (max-width: 1240px) {
        flex-flow: column;

        margin: 0 auto;
    }
}

.profile-footer__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.profile-footer__item {
    position: relative;
    opacity: 0.7;

    &:hover {
        text-decoration: underline var(--color-blue-violet);
    }

    &::after {
        position: absolute;
        bottom: 50%;
        right: -8px;

        width: 2px;
        height: 12px;

        content: '';

        background: var(--color-black-op-30);
        transform: translate(0, 50%);
    }
}

.profile-footer__opyright {
    margin-left: 16px;
    opacity: 0.7;
}