.psychology {
    display: flex;
    flex-flow: column;
    padding: 48px 0;

    font-family: "Rubik", sans-serif;
}

.psychology__top {
    max-width: 600px;

    padding: 0 0 60px 0;

    text-align: center;
    font-size: clamp(2rem, 2.133vw + 1.44rem, 4rem);
    font-weight: 700;
    letter-spacing: 1px;

    color: rgba(80, 221, 223, 1);

    & span {
        color: white;
    }
}

.psychology__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

    width: 600px;
    gap: 24px;
}

.psychology__card {
    position: relative;

    padding: 14px 30px;

    color: white;

    border-radius: 20px;
    background-color: rgba(34, 37, 42, 0.5);

    &.--orange {
        --psychology-bg: rgba(232, 123, 67, 1.00);
        --psychology-shadow: rgba(232, 123, 67, 1.00);
    }

    &.--green {
        --psychology-bg: rgba(98, 235, 67, 1.00);
        --psychology-shadow: rgba(98, 235, 67, 1.00);
    } 

    &.--yellow {
        --psychology-bg: rgba(235, 208, 65, 1.00);
        --psychology-shadow: rgba(235, 208, 65, 1.00);
    } 

    &.--blue {
        --psychology-bg: rgba(70, 151, 236, 1.00);
        --psychology-shadow: rgba(70, 151, 236, 1.00);
    } 

    &.--purple {
        --psychology-bg: rgba(72, 64, 236, 1.00);
        --psychology-shadow: rgba(72, 64, 236, 1.00);
    } 

    &.--pink {
        --psychology-bg: rgba(232, 64, 232, 1.00);
        --psychology-shadow: rgba(232, 64, 232, 1.00);
    } 

    &.--black {
        --psychology-bg: rgba(5, 5, 5, 1.00);
        --psychology-shadow: rgba(5, 5, 5, 1.00);
    } 

    &.--white {
        --psychology-bg: rgba(233, 232, 246, 1.00);
        --psychology-shadow: rgba(233, 232, 246, 1.00);
    } 

    &.--brown {
        --psychology-bg: rgba(177, 96, 38, 1.00);
        --psychology-shadow: rgba(177, 96, 38, 1.00);
    } 

    &.--silver {
        --psychology-bg: rgba(150, 151, 170, 1.00);
        --psychology-shadow: rgba(150, 151, 170, 1.00);
    } 

    &.--gold {
        --psychology-bg: rgba(211, 147, 32, 1.00);
        --psychology-shadow: rgba(211, 147, 32, 1.00);
    } 

}

.psychology__card::before {
    position: absolute;
    inset: 0 auto 0 0;
    z-index: 1;

    width: 20px;


    background-color: var(--psychology-bg, red);
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 0px 16px 0px var(--psychology-shadow, rgba(255,0,0,1));

    content: '';
}

.psychology__title {
    font-size: 12px;
    margin-bottom: 7px;
}

.psychology__subtitle {
    font-size: 10px;
    opacity: 0.5;
}