.select-term {
    display: flex;
    min-width: 100%;
    padding-bottom: 1rem;
    color: white;

    @media (max-width: 720px) {
        flex-flow: column;
    }
}

.select-term__first {
    display: flex;
    flex-flow: column;
    min-width: 40%;

    & .select-term__title {
        margin-bottom: .5rem;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.5;
        text-transform: uppercase;
    }

    & .select-term__title-flex {
        display: inline-flex;
        align-items: center;
        margin-bottom: .5rem;
        font-size: 0.775rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 2rem;

        & svg {
            width: 0.775rem;
            fill: white;
        }
    }

    & .select-term__subtitle {
        display: inline-flex;
        align-items: center;
        gap: 5px;

        margin-bottom: 10px;

        font-weight: 400;
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 1.5;

        & svg {
            width: clamp(0.625rem, 1.154vw - 0.038rem, 1rem);
            stroke: white;
            fill: none;
        }
    }
}

.select-term__cards {
    display: flex;
    gap: 16px;

    @media (max-width: 1100px) {
        flex-flow: column;
    }
}

.select-term__card {
    display: flex;
    flex-flow: column;
    flex: 1;

    padding: 10px;

    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    background-color: #000;
    cursor: pointer;

    & p {
        font-size: clamp(1.125rem, 0.769vw + 0.683rem, 1.375rem);
        font-weight: 600;
    }

    & .select-term__up-price {
        margin: 0.3rem auto 1.7rem 0;
    }

    & span {
        display: flex;
        align-items: flex-end;

        margin: auto auto auto 0;
        text-align: left;
        opacity: 0.5;
        font-size: clamp(0.625rem, 0.385vw + 0.404rem, 0.75rem);
        padding: 7px 0;

        width: 100%;

        & svg {
            margin: auto 0 auto auto;
            width: 1rem;
            height: 1rem;
        }
    }

    &.--is-select {
        border: 2px solid white;
    }

    &:hover {
        border: 2px solid rgb(139, 85, 152);
    }
}

.select-term__second {
    display: flex;
    flex-flow: column;
    margin: 2rem 0 0 2rem;
    min-width: 40%;

    & .select-term__buttons-buy {
        display: inline-flex;
        gap: 10px;
        margin: 10px auto auto auto;
        width: 100%;

        & .buttons-buy-tokens {
            padding: 10px 20px;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
            color: black;
            font-weight: 500;
        }

        & .buttons-buy-flex {
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 5px;
            font-weight: 500;
        }
    }

    & .--btn-buy:hover {
        border: 1px solid rgb(139, 85, 152);
    }

    @media (max-width: 720px) {
        margin: 2rem 0 0;
    }
}

.select-term__top {

    & .price-text-buy {
        font-size: clamp(1.75rem, 0.769vw + 1.308rem, 2rem);
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.5;

        margin-bottom: 1rem;
    }

    & .desk-text-buy {
        font-size: clamp(0.75rem, 0.769vw + 0.308rem, 1rem);
        opacity: .7;
    }
}

.select-term__button-add {
    display: flex;
    align-items: center;
    color: #000;
    width: 100%;
    opacity: 1;
    box-shadow: none;
    padding: 9px 1.25rem;
    border: 1px solid white;
    background-color: white;
    user-select: none;

    & h2 {
        display: flex;
        width: 100%;
        font-size: clamp(0.875rem, 0.385vw + 0.654rem, 1rem);
        font-weight: 600;
        line-height: 1.25;
    }

    & svg {
        width: clamp(1.375rem, 0.385vw + 1.154rem, 1.5rem);
    }

    &:hover {
        border: 1px solid rgb(139, 85, 152);
    }
}

.select-term__bottom {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 24px;

    margin: auto auto auto 0;

    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);

    margin-top: .75rem;

    & svg {
        width: 0.75rem;
        fill: white;
    }

    & span {
        opacity: 1;
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
}