.aside {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;

    gap: var(--aside-gap);

    /* background-color: red; */
    /* border-right: 2px solid #999; */

    font-family: 'Varela Round';

    min-height: 100vh;
    min-width: 150px;

    margin-right: 100px;
    padding: 0 24px;
}

.aside::before {
    content: "";
    position: absolute;
    inset: 55px 0 35px auto;
    border-right: 2px solid #99999941
}

.aside__top {
    display: flex;
    align-items: center;
    /* justify-content: center; */

    /* border: 2px solid black; */

    gap: 30px;
    padding: 24px;

    min-height: 10%;
}

.aside__content {
    display: flex;
    flex-direction: column;
    gap: var(--aside-gap)

    /* justify-content: center;
    align-items: center; */

    /* gap: 65px; */
    /* border: 2px solid yellow; */
}


.aside__link {
    position: relative;
    display: inline-flex;

    align-items: center;

    padding: 24px;

    gap: 20px;

    font-size: 26px;
    text-decoration: none;
    color: #999;
}

.aside__link i {
    /* position: absolute;
    width: 200px; */
}

.aside__link.--line {
    border: 1px solid #999999ce;

    opacity: 40%;
    width: 90%;

    padding: 0;
    margin: 0 auto;

    cursor: unset;
}

.aside__link--is-active {
    color: #4170f4;
    position: relative;
}

.aside__link--is-active::before {
    position: absolute;
    inset: 50% auto auto 0;

    aspect-ratio: 1;
    width: 5px;

    content: "";

    background-color: #4170f4;
    border-radius: 50%;

    transform: translate(0px, -50%);
}

