@font-face {
  font-family: 'markfont';
  src: url('../fonts/markfont.eot?x4b6vy');
  src: url('../fonts/markfont.eot?x4b6vy#iefix') format('embedded-opentype'),
    url('../fonts/markfont.ttf?x4b6vy') format('truetype'),
    url('../fonts/markfont.woff?x4b6vy') format('woff'),
    url('../fonts/markfont.svg?x4b6vy#markfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ari-"],
[class*=" ari-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'markfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ari-arrow:before {
  content: "\e90a";
}
.ari-Access:before {
  content: "\e900";
}
.ari-usage:before {
  content: "\e905";
}
.ari-star:before {
  content: "\e907";
}
.ari-buy:before {
  content: "\e909";
}
.ari-see-more:before {
  content: "\e901";
}
.ari-revit-cost:before {
  content: "\e902";
}
.ari-pay-flex:before {
  content: "\e903";
}
.ari-lock-your-price:before {
  content: "\e904";
}
.ari-buy-with-flex:before {
  content: "\e906";
}
.ari-buy-component-footer-first:before {
  content: "\e908";
}
