@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: #1d303f, #131228;

    margin: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(#203644, #131429) fixed;
    font-family: 'Quicksand';
}

.grid {
    display: grid;
    font-size: 25px;

    border-bottom: 3px solid rgba(136, 136, 136, 0.548);
}

.grid-1 {
    display: grid;
    font-size: 25px;
}

.item {
    display: grid;
    grid-template-columns: .3fr 1fr;
    padding: 16px 24px;
}

.item-capt {
    margin-top: 15px;
    font-size: 35px;
    color: rgb(165, 165, 165);
}

.item-content {
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 30px;
}

.item-element {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    width: 50px;
    aspect-ratio: 1/1;

    color: white;
    font-size: 30px;

    border-radius: 10px;
    background: #3d4a52;
}

.item-element:first-child {
    background-color: #4180df;
}

.item-content {
    &.--2 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:last-child {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--3 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(2) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--4 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-last-child(2) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--5 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(odd) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--6 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(even) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--7 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(n+4) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--8 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(3n-1) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--9 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(3n+1) {
                background-color: #4180df;
            }
        }
    }
}

.item-content {
    &.--10 {
        .item-element {
            &:first-child {
                background-color: #3d4a52;
            }

            &:nth-child(4n) {
                background-color: #4180df;
            }
        }
    }
}