@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 8, 30);
}

.container {
    position: relative;
    max-width: 1200px;
    padding: 0 24px;
}

.main {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 48px 0;
    font-family: "Rubik", sans-serif;
}

.main__top {
    text-align: left;
    font-size: 48px;
    font-weight: 500;

    margin-bottom: 48px;

    max-width: 450px;
    color: rgb(93,201,211);

    & span:first-child {
        font-size: 58px;
        color: rgb(247,202,67);
    }

    & span:last-child {
        font-weight: 300;
    }
}

.main__content {
    display: flex;
    align-content: center;
    justify-content: center;

    color: white;
}

.main__first {
    display: flex;
    flex-flow: column;
    gap: 40px;

    margin-right: 40px;
}

.main__block {
    position: relative;
    display: flex;
    align-items: center;
}

.main__block::before {
    position: absolute;
    inset: auto -40px auto auto;
    font-weight: bold;
    font-size: 28px;
    content: '→';
}

.main__second {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-left: 20px;
    font-size: 16px;
    gap: 40px;
}