@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
} */

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(85, 85, 85);
    color: white;
}

.box {
    display: none;
    background-color: red;
    height: 100px;
    width: 100px;
    transition: transform 1s;
}

.box.show {
    display: block;
    translate: 0;
    
    @starting-style {
        translate: 20px;
    }
}

/* .title {
    font-size: 1.5rem;
}

.main {
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
}

.main.show {
    height: 40px;
} */