.avatar {
    position: relative;

    display: inline-grid;
    place-content: center;

    width: var(--avata-size, 48px);
    aspect-ratio: 1;

    color: var(--color-light);
    font-size: var(--size-text, 48px);

    border-radius: 50%;
    background-color: var(--color-blue-violet);

    & img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: center;
    }

    img + figcaption {
        display: none;
    }

    & figcaption {
        z-index: 1;
        font-size: 0.38em;
    }

    &.--30 {
        --avata-size: 30px;
        --size-text: 30px;
    }

    &.--96 {
        --avata-size: 96px;
    }
}