@keyframes animCard {
    0% {
        opacity: 0;
        transform: translateY(110%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loader {
    100% {
        rotate: 360deg;
    }
}

@keyframes asidePupUpWindow {
    0% {
        left: -280px;
        min-width: 0;
    }

    100% {
        left: 0;
        min-width: 280px;
    }
}

@keyframes personalFormPupUp {
    0% {
        flex: 0 0 0;
    }

    100% {
        flex: 0 0 40%;
    }
}