* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;

    font: inherit;
    color: inherit;

    border: none;
    background-color: transparent;
    
    cursor: pointer;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

html {
    font-family: "Artifakt Element";
    font-size: 16px;

    &.--add-scroll {
        overflow: hidden;
    }
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    
    background-color: var(--color-light);
}

.container {
    position: relative;

    /* max-width: 1440px;
    width: 100%; */
    width: min(var(--container-size, 1440px), 100%);

    margin: 0 auto;
    padding: 0 24px;

     @media (max-width: 1440px) {
        --container-size: 1200px;
    }

    &.--small {
        width: 100%;
        
        margin: 0 auto;
        padding: 0 24px;
    }
}

.video {
    display: flex;
    align-items: center;
}