.gm-hide {
    display: none !important;
}

.gm-scroll-hide {
    overflow: hidden !important;
}

.gm-not-event {
    pointer-events: none !important;
}

/* .gm-hidden {
    visibility: hidden !important;
} */