:root {
    --color-light: #ffffff;
    --color-light-op-80: #ffffffcc;
    --color-light-op-70: #ffffffb3;
    --color-light-op-50: #ffffff80;
    --color-light-op-40: #ffffff66;
    --color-light-op-10: #ffffff1a;

    --color-frosted-white: #f5f5f599;

    --color-black: #000;
    --color-black-op-80: #000000cc;
    --color-black-op-60: #0009;
    --color-black-op-50: #00000080;
    --color-black-op-30: #0000004d;
    --color-black-op-25: #00000040;
    --color-black-op-20: #00000033;
    --color-black-op-15: #00000026;
    --color-black-op-10: #0000001a;

    --color-grey: #666666;
    --color-dark-grey: #212121;
    --color-light-grey: #f9f9f9;
    --color-soft-gray: #dedede;
    --color-very-light-gray: #f2f2f2;
    --color-medium-light-gray: #cacaca;
    --color-pale-gray: #f0f0f0;
    --color-semi-transp-light-gray: #cccccc80;

    --color-light-silver: #d6d6d6;
    --color-charcoal: #2d2d2d;

    --color-blue-violet: #5f60ff;
    --color-see-green: #00A85D;
    --color-charocal: #212121;
    --color-purple: #8b5598;
}