:root {
    --color-grey: #666666;
    --color-dark-grey: #212121;
    --color-light-grey: #f9f9f9;
    --color-blue-violet: #5f60ff;
    --color-see-green: #00A85D;
    --color-charocal: #212121;
    --color-purple: #8b5598;

    --color-light: #ffffff;
    --color-light-op-50: #ffffff80;

    --color-black: #000;
    --color-black-op-80: #000000cc;
    --color-black-op-60: #0009;
    --color-black-op-50: #00000080;
}