:root {
    --color-black: #000;
    --color-light: #ffffff;
    --color-grey: #666666;
    --color-dark-grey: #212121;
    --color-light-grey: #f9f9f9;
    --color-blue-violet: #5f60ff;
    --color-see-green: #00A85D;
    --color-charocal: #212121;
    --color-purple: rgb(139, 85, 152);
}