.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* gap: 8px; */

    color: var(--color-light);

    padding: 8px 16px;

    text-align: center;

    cursor: pointer;

    &.--sumbit {
        justify-content: center;

        padding: 8px 0;

        border-radius: 8px;
        background: var(--color-black);
    }

    &.--flow {
        position: absolute;
        inset: var(--button-inset, auto);
    }

    &.--bold {
        font-weight: bold;
        color: var(--color-black);
    }

    &.--close::before,
    &.--full-screen::before,
    &.--full-screen::before,
    &.--minimize::before,
    &.--arrow::before,
    &.--add::before {
        font-family: 'markfont' !important;
    }

    &.--close,
    &.--full-screen,
    &.--full-screen,
    &.--minimize {
        padding: var(--button-padding, 4px);
    }

    &.--close::before {
        content: '\e906';
    }

    &.--full-screen::before {
        content: '\e923';
    }

    &.--minimize&::before {
        content: '\e921';
    }

    &.--white {
        color: var(--color-black);
        box-shadow: 0 0 1px 0.5px var(--color-black);
        border: 1px solid var(--color-black);
    }

    &.--download {
        color: var(--color-black);
        line-height: 1.25;
        font-weight: 700;

        border-radius: 4px;
        border: 1px solid var(--color-black);
    }

    &.--light {
        padding: 6px 24px;
        color: var(--color-black);
        border-radius: 8px;
        background: var(--color-light);
        box-shadow: 0 0 0 1px var(--color-black);
    }

    &.--dark {
        padding: 6px 24px;
        color: var(--color-light);
        border-radius: 8px;
        background: var(--color-black);
    }

    &.--check-out {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 12px;

        min-width: 100%;

        font-weight: 600;
        color: var(--color-light);

        background-color: var(--color-black);
    }

    &.--icon-small {
        position: relative;
        padding: 0;

        width: 16px;
        aspect-ratio: 1;

        color: var(--color-light);
        border-radius: 4px;
        background: var(--color-black);
    }

    &.--arrow::before {
        position: absolute;

        font-size: 8px;
        font-weight: 400;

        content: '\e901';
    }

    &.--add {

        box-shadow: 0 0 0 5px var(--color-light);

        &::before {
            position: absolute;

            font-size: 12px;
            font-weight: 400;

            content: '+';
        }
    }
}