.button {
    display: inline-flex;
    align-items: center;

    color: white;

    padding: 8px 16px;

    text-align: center;

    cursor: pointer;
    font-family: 'markfont' !important;

    &.--close {
        position: relative;

        &.--bold {
            font-weight: bold;
            color: var(--color-black);
        }

        &::before {
            position: absolute;
            content: '\e906';
        }
    }

    &.--full-screen {
        position: relative;

        &::before {
            position: absolute;
            content: '\e923';
        }
    }

    &.--minimize {
        position: relative;

        &::before {
            position: absolute;
            content: '\e921';
        }
    }

    &.--white {
        color: var(--color-black);
        box-shadow: 0 0 1px 0.5px var(--color-black);
        border: 1px solid var(--color-black);
    }

    &.--download {

        color: var(--color-black);
        line-height: 1.25;
        font-weight: 700;

        border-radius: 4px;
        border: 1px solid var(--color-black);
    }

    &.--light {
        padding: 6px 24px;
        color: black;
        border-radius: 8px;
        background: white;
        box-shadow: 0 0 0 1px black;
    }

    &.--dark {
        padding: 6px 24px;
        color: white;
        border-radius: 8px;
        background: black;
    }

    &.--check-out {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 12px;

        min-width: 100%;
    
        font-weight: 600;
        color: var(--color-light);
    
        background-color: var(--color-black);
    }
}