<section class="ar-imagine">
    <div class="container">
        <div class="ar-imagine__col">
            <div class="ar-imagine__title">if you can imagine it, you can design it in Autodesk Revit</div>
            <div class="ar-imagine__subtitle">Autodesk Revit allow architects, engineers, and construction
                professionals to:</div>

            <ul class="ar-imagine__elements">
                <li class="ar-imagine__item">Model shapes, structures, and systems in 3D with parametric
                    accuracy, precision, and ease.</li>
                <li class="ar-imagine__item">Streamline project management with instant revisions to plans,
                    elevations, schedules, sections, sheets, and 3D visualizations.</li>
                <li class="ar-imagine__item">Unite multidisciplinary project teams for higher efficiency,
                    collaboration, and impact in the office or on the jobsite.
                </li>
            </ul>

            <div class="ar-imagine__bottom">
                <a class="ar-imagine__see-link" href="#">See system requirements <span
                        class="ari-winsvg"></span></a>
                <a class="link-right" href="#">Buy Revit in the AEC Collection</a>
            </div>
        </div>

        <div class="ar-imagine__col">
            <div class="ar-imagine__video" data-video="first"><video
                    src="https://help.autodesk.com/videos/23b423f0-fd85-11ee-a103-9d5647070b99/video.mp4"
                    controls></video></div>
            <div class="ar-imagine__video gm-hide" data-video="second"><video
                    src="https://help.autodesk.com/videos/23ae0970-fd85-11ee-a103-9d5647070b99/video.webm"
                    controls></video></div>
            <div class="ar-imagine__images">
                <div class="ar-imagine__image-video"><img class="video-poster-1 --select" data-video="first"
                        src="../../assets/image/poster-1.jpeg" alt="#"></div>
                <div class="ar-imagine__image-video"><img class="video-poster-2" data-video="second"
                        src="../../assets/image/poster-2.jpeg" alt="#"></div>
            </div>
            <div class="ar-imagine__footer" data-video="first">Lake|Flato’s adaptive reuse project (video: 3:45
                min.)</div>
            <div class="ar-imagine__footer gm-hide" data-video="second">Warren and Mahoney restored ChristChurch
                Cathedral after earthquake (video: 4:15 min.)</div>
        </div>
    </div>
</section>