<section class="collection">
    <div class="container">
        <div class="collection__flex">
            <div class="collection__first">
                <div class="collection__top">
                    <div class="collection__title">
                        <img class="group-image" src="../../assets/image/collection.png" alt="#">
                        Product Design & Manufacturing Collection
                    </div>
                    <h3 class="collection__title-two">Extend the capabilities of Inventor with the collection
                    </h3>
                    <div class="collection__subtitle">The collection is a powerful set of applications that
                        provides
                        extended capabilities to Inventor and AutoCAD for engineers who design complex and
                        custom
                        products, equipment, and systems.</div>
                </div>
                <div class="collection__block-product">
                    <div class="collection__block-top">Product Design & Manufacturing Collection includes:</div>

                    <div class="collection__group-grid">
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/autoCAD.png" alt="#">autoCAD
                        </div>
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/fusion.png" alt="#">Fusion
                        </div>
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/inventor.png" alt="#">Inventor Tolerance
                            Analysis
                        </div>
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/inventor.png" alt="#">Inventor Nastran
                        </div>
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/factory.png" alt="#">Factory Design Utilities
                        </div>
                        <div class="collection__item">
                            <img class="group-image" src="../../assets/image/autoCAD.png" alt="#">autoCAD
                        </div>
                    </div>
                </div>
            </div>

            <div class="collection__second">
                <div class="collection__learn">Learn how you can do more with Inventor</div>
                <div class="collection__video">
                    <img class="collection-video-btn-1" src="../../assets/image/video-1.png" alt="#">
                    <div class="collection__video-title">
                        <h2>Best practices for 2D and 3D design</h2>
                        Work in Inventor and AutoCAD to unlock capabilities that benefit the entire product
                        development
                        cycle. (Watch video 1:50 min.)
                        <a href="#">Learn more</a>
                    </div>
                </div>
                <div class="collection__video">
                    <!-- <a href="https://videos.autodesk.com/zencoder/content/dam/autodesk/www/products/autodesk-inventor-family/fy24/overview/videos/pdmc-professional-grade-3d-cad-software-2023-video-1920x1080.mp4"> -->
                    <img class="collection-video-btn-2" src="../../assets/image/video-2.png" alt="#">
                    <div class="collection__video-title">
                        <h2>Explore a complete product development solution</h2>
                        See how integrated tools for Inventor bring your designs to life. Model courtesy of Joel
                        Maia. (Video 2:34 min.)
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>