<section class="faq">
    <div class="container">
        <div class="faq__top">Frequently asked questions (FAQs)</div>
        <div class="faq__flex">
            <div class="faq__info">
                <div class="faq__cards">
                    <details class="faq__card">
                        <summary class="faq__title">How do I download Revit?</summary>
                        <p>
                            Autodesk provides download and install instructions <a class="faq-link" href="#">for
                                individuals</a> and <a class="faq-link" href="#">administrators.</a>
                            Your available downloads appear in <a class="faq-link" href="#">Autodesk Account.</a>
                            Find your product, select a
                            version, platform, language, and download method. For more information, visit the
                            <a class="faq-link" href="#">Autodesk Knowledge Network.</a>
                        </p>
                    </details>
                    <details class="faq__card">
                        <summary class="faq__title">What is Autodesk Revit used for?</summary>
                        <p>
                            Autodesk Revit is used to design, document, visualize, and deliver architecture,
                            engineering, and construction projects.
                        </p>
                    </details>
                    <details class="faq__card">
                        <summary class="faq__title">Who uses Autodesk Revit?</summary>
                        <p>
                            Architects, structural engineers, MEP engineers, civil engineers, construction
                            professionals, fabricators, computational designers, owners, and more all use Autodesk
                            Revit to achieve their design, construction, operations, and maintenance goals for
                            buildings and infrastructure.
                        </p>
                    </details>

                    <button class="faq__button">See more</button>

                    <div class="faq-see-more gm-hide">
                        <details class="faq__card">
                            <summary class="faq__title">Which versions of Revit can I use if I subscribe to the
                                current version?</summary>
                            <p>
                                Your Revit subscription gives you access to install and use the 3 previous versions.
                                Available downloads are listed in your <a class="faq-link" href="#">Autodesk
                                    Account</a> after subscribing. See
                                also <a class="faq-link" href="#">previous releases available for subscribers</a>.
                            </p>
                        </details>
                        <details class="faq__card">
                            <summary class="faq__title">Which operating system does Autodesk Revit run on?</summary>
                            <p>
                                Autodesk Revit runs on Microsoft® Windows®. See <a class="faq-link" href="#">Revit
                                    system requirements</a> for details.
                            </p>
                        </details>
                        <details class="faq__card">
                            <summary class="faq__title">Can I install Revit on multiple computers?</summary>
                            <p>
                                With a subscription to Revit software, you can install it on up to 3 computers or
                                other devices. However, only the named user can sign in and use that software on a
                                single computer at any given time. Please refer to the <a class="faq-link"
                                    href="#">Software License Agreement</a>
                                for more information.
                            </p>
                        </details>
                        <details class="faq__card">
                            <summary class="faq__title">How do I convert my Revit free trial to a paid subscription?
                            </summary>
                            <p>
                                Launch your trial software and click Subscribe Now on the trial screen or buy Revit
                                <a class="faq-link" href="#">here.</a> When buying your subscription, enter the same
                                email address and password
                                combination you used to sign in to your trial. Learn more about <a class="faq-link"
                                    href="#">converting a trial
                                    to a paid subscription.</a>
                            </p>
                        </details>
                        <details class="faq__card">
                            <summary class="faq__title">I am using a free trial of Autodesk Revit, what are some
                                resources that can help me?
                            </summary>
                            <p>
                                A great place to start is the <a class="faq-link" href="#">Revit Quick Start
                                    Guide</a>. Learn the basics of Autodesk
                                Revit through approachable online instructions, and model for architecture,
                                structures, and MEP. Sample content is available on the Home screen once Autodesk
                                Revit is open.
                                <br>
                                <br>
                                A guide to <a class="faq-link" href="#">keyboard shortcuts</a> is also available.
                                Shortcuts are recommended as you
                                learn your way around the software.
                            </p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="faq__support">
                <div class="faq__img"><img src="../../assets/image/pc.png" alt="#"></div>
                <a class="faq__link" href="#">Support and problem solving</a>
                <p class="faq__text">Find troubleshooting articles and resolve your issue.</p>
            </div>
        </div>
    </div>
</section>