<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__card" data-show-card="first">
                <div class="footer__top" data-show-card="first">Autodesk</div>
                <div class="footer__links --grid-container">
                    <a href="#">Company overview</a>
                    <a class="link-text-right-up" href="#">Autodesk Foundation</a>
                    <a href="#">Careers</a>
                    <a href="#">Sustainability</a>
                    <a class="link-text-right-up" href="#">Investor relations</a>
                    <a href="#">Contact us</a>
                    <a href="#">Autodesk Trust Center</a>
                    <a href="#">Students and educators</a>
                    <a class="link-text-right-up" href="#">Newsroom</a>
                    <a href="#">Affiliate program</a>
                    <a href="#">Diversity and belonging</a>
                    <a class="link-text-right-up" href="#">Autodesk Research</a>

                    <a class="last-links" href="#">
                        <span class="ari-facebook-circle"></span>
                        <span class="ari-instagram-circle"></span>
                        <span class="ari-twitter-circle"></span>
                        <span class="ari-linkedin-circle"></span>
                        <span class="ari-youtube"></span>
                    </a>
                    <a href="#">Design & Make with Autodesk</a>
                </div>
            </div>

            <div class="footer__card" data-show-card="second">
                <div class="footer__top" data-show-card="second">How to buy</div>
                <div class="footer__links">
                    <a href="#">View all products</a>
                    <a href="#">Buying with Autodesk</a>
                    <a href="#">Renewal options</a>
                    <a href="#">Find a reseller</a>
                    <a href="#">Sales and refunds</a>
                    <a href="#">Choose your subscription plan</a>
                    <a href="#">Pay as you go with Flex</a>
                </div>
            </div>

            <div class="footer__card" data-show-card="third">
                <div class="footer__top" data-show-card="third">Support</div>
                <div class="footer__links">
                    <a href="#">Product support</a>
                    <a href="#">Manage your account</a>
                    <a href="#">Download and install software</a>
                    <a href="#">Autodesk Product Status</a>
                    <a href="#">Education support</a>
                    <a href="#">Contact support</a>
                </div>
            </div>

        </div>
    </div>
</footer>