<section class="footer-bottom">
    <div class="container --faq">
        <div class="footer-bottom__items">
            <li class="footer-bottom__item"><a href="#">Privacy</a></li>
            <li class="footer-bottom__item"><a href="#">Do not sell or share my personal information</a></li>
            <li class="footer-bottom__item"><a href="#">Cookie preferences</a></li>
            <li class="footer-bottom__item"><a href="#">Report noncompliance</a></li>
            <li class="footer-bottom__item"><a href="#">Terms of use</a></li>
            <li class="footer-bottom__item"><a href="#">Legal</a></li>
            <li class="footer-bottom__item">© 2024 Autodesk Inc. All rights reserved</li>
        </div>
    </div>
</section>