<article class="card-personal">
    <div class="card-personal__title">The basics</div>
    <div class="card-personal__description">
        Your name, photo, and details you share about yourself
        appear in project directories and Autodesk community sites.
    </div>

    <div class="card-personal__item" data-action-dialog="personal_info">
        <div class="card-personal__label">Name <span>(required)</span></div>
        <div class="card-personal__value"><span data-full-name></span></div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Edit</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item --img" data-action-dialog="personal_photo">
        <div class="card-personal__label">Photo</div>
        <div class="card-personal__value">
            <figure class="avatar">
                <!-- <img src="https://avatar.iran.liara.run/public/40"> -->
                <figcaption>ML</figcaption>
            </figure>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item" data-action-dialog="personal_about">
        <div class="card-personal__label">About me</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Share your story and build connections</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

</article>

<article class="card-personal">
    <div class="card-personal__title">Professional info</div>
    <div class="card-personal__description">
        Professional details help us better understand your work and how we can tailor your
        experience.
        This information also appears on Autodesk community sites and in project directories for
        products that use them.
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Role</div>
        <div class="card-personal__value">
            <p class="card-personal__text">What best describes what you do professionally?</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Company</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Where do you work?</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Industry</div>
        <div class="card-personal__value">
            <p class="card-personal__text">What is your core business?</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

</article>

<article class="card-personal">
    <div class="card-personal__title">Contact info</div>
    <div class="card-personal__description">
        Professional details help us better understand your work and how we can tailor your
        experience.
        This information also appears on Autodesk community sites and in project directories for
        products that use them.
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Alternate email</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Enter the email you prefer to use when communicating with
                support.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Phone</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Add the best number for us to reach you.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Address</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Enter your organization’s postal address.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

</article>

<article class="card-personal">
    <div class="card-personal__title">My links</div>
    <div class="card-personal__description">
        Share your expertise and increase your visibility in the Autodesk community.
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">LinkedIn</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Build your professional network.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Blog</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Share your news, knowledge, and views.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

    <div class="card-personal__item">
        <div class="card-personal__label">Website</div>
        <div class="card-personal__value">
            <p class="card-personal__text">Showcase your business, projects, skills, and contact
                information.</p>
        </div>
        <div class="card-personal__container">
            <div class="card-personal__desc">Add</div>
            <div class="button --icon-small --arrow"></div>
        </div>
    </div>

</article>