<article class="profile-card">
    <div class="profile-card__first"><span class="ari-password-profile"></span></div>
    <div class="profile-card__second">
        <div class="profile-card__top">SECURITY</div>
        <div class="profile-card__title">Password</div>
        <div class="profile-card__subtitle">
            Change the password you use to access your account and
            Autodesk secured sites.
        </div>
        <button class="profile-card__btn">Change</button>
    </div>
</article>
<article class="profile-card">
    <div class="profile-card__first"><span class="ari-profile"></span></div>
    <div class="profile-card__second">
        <div class="profile-card__top">SECURITY</div>
        <div class="profile-card__title">Username</div>
        <div class="profile-card__subtitle">
            Change the name that identifies you in products and discussion groups.
        </div>
        <button class="profile-card__btn">Change</button>
    </div>
</article>
<article class="profile-card">
    <div class="profile-card__first"><span class="ari-communications"></span></div>
    <div class="profile-card__second">
        <div class="profile-card__top">SETTINGS</div>
        <div class="profile-card__title">Communications</div>
        <div class="profile-card__subtitle">
            Select how you want to receive information and notifications from Autodesk.
        </div>
        <button class="profile-card__btn">Change</button>
    </div>
</article>
<article class="profile-card">
    <div class="profile-card__first"><span class="ari-personal"></span></div>
    <div class="profile-card__second">
        <div class="profile-card__top">PERSONAL INFORMATION</div>
        <div class="profile-card__title">Professional info</div>
        <div class="profile-card__subtitle">
            Update your job title, company, and industry.
        </div>
        <button class="profile-card__btn">Change</button>
    </div>
</article>