<footer class="profile-footer --offset">
    <div class="profile-footer__items">
        <a href="#" class="profile-footer__link">Privacy</a>
        <a href="#" class="profile-footer__link">Do not sell or share my personal information</a>
        <a href="#" class="profile-footer__link">Cookie preferences</a>
        <a href="#" class="profile-footer__link">Report noncompliance</a>
        <a href="#" class="profile-footer__link">Terms of use</a>
        <a href="#" class="profile-footer__link">Legal</a>

        <span>© 2024 Autodesk Inc. All rights reserved</span>
    </div>
</footer>