<section class="resources">
    <div class="container">
        <div class="resources__top">
            <h2>Autodesk Revit resources</h2>
            <a href="#"><span class="ari-arrowright"></span> Get learning guides for your Revit trial</a>
        </div>
        <div class="resources__cards">
            <div class="resources__card">
                <div class="resources__image"><img src="../../../assets/image/f1.png" alt="#"></div>
                <div class="resources-content">
                    <div class="resources-content__top">CUSTOMER RESOURCE</div>
                    <div class="resources-content__title">Customer Value Hub</div>
                    <div class="resources-content__info">See how Autodesk and the AEC Community work together,
                        sharing ideas that define what’s next for Revit.</div>
                    <div class="resources-content__line"></div>
                    <div class="resources-content__bottom">
                        <a class="link-right" href="#">Visit Customer Value Hub</a>
                    </div>
                </div>
            </div>
            <div class="resources__card">
                <div class="resources__image"><img src="../../../assets/image/f2.png" alt="#"></div>
                <div class="resources-content">
                    <div class="resources-content__top">PRODUCT NEWS</div>
                    <div class="resources-content__title">See what’s new in Autodesk Revit 2025</div>
                    <div class="resources-content__info">Read about Total Carbon Analysis, enhancements to site
                        design, and more in the latest release.</div>
                    <div class="resources-content__line"></div>
                    <div class="resources-content__bottom">
                        <a class="link-right" href="#">Read the Revit blog</a>
                    </div>
                </div>
            </div>
            <div class="resources__card">
                <div class="resources__image"><img src="../../../assets/image/f3.png" alt="#"></div>
                <div class="resources-content">
                    <div class="resources-content__top">PRODUCT ROAD MAP</div>
                    <div class="resources-content__title">See what’s next for Autodesk Revit</div>
                    <div class="resources-content__info">See what’s in the product development pipeline with a live
                        look at the Revit public roadmap.</div>
                    <div class="resources-content__line"></div>
                    <div class="resources-content__bottom">
                        <a class="link-right" href="#">Visit the Revit roadmap</a>
                    </div>
                </div>
            </div>
        </div>
</section>