<section class="subhead">
    <div class="container">
        <div class="subhead__wrap">
            <div class="subhead__first">

                <button class="subhead__item --more"></button>

                <div class="subhead__item --brend">
                    <a class="subhead__btn --logo" href="#">
                        <img src="../../../assets/image/revit-logo.webp" alt="#">
                        <span>Revit</span>
                    </a>
                </div>

                <div class="subhead__item --product">
                    <button class="subhead__btn --arrow --full-flow">
                        Product overview
                    </button>

                    <nav class="subhead__dropdown-menu">
                        <a class="subhead__btn" href="#">Industries</a>
                        <a class="subhead__btn" href="#">Software bundle</a>
                        <a class="subhead__btn" href="#">Features</a>
                    </nav>
                </div>

                <div class="subhead__item --features">
                    <button class="subhead__btn --arrow --full-flow">
                        Features
                    </button>

                    <nav class="subhead__dropdown-menu">
                        <a class="subhead__btn" href="#">Industries</a>
                        <a class="subhead__btn" href="#">Software bundle</a>
                        <a class="subhead__btn" href="#">Features</a>
                    </nav>
                </div>

                <div class="subhead__item --features">
                    <button class="subhead__btn --arrow --full-flow --back">
                        <span>Software bundle</span>
                        <span>back</span>
                    </button>

                    <nav class="subhead__dropdown-menu">
                        <a class="subhead__btn" href="#">123</a>
                        <a class="subhead__btn" href="#">456</a>
                        <a class="subhead__btn" href="#">789</a>
                    </nav>
                </div>

                <div class="subhead__item --industries">
                    <button class="subhead__btn --arrow --full-flow --back">
                        <!-- <input type="checkbox" /> -->
                        <span>Industries</span>
                        <span>back</span>
                    </button>

                    <nav class="subhead__dropdown-menu">
                        <a class="subhead__btn" href="#">123</a>
                        <a class="subhead__btn" href="#">765</a>
                        <a class="subhead__btn" href="#">864</a>
                    </nav>
                </div>
            </div>

            <div class="subhead__second">
                <a class="subhead__item-contact --hover" href="#"><span class="ari-contact"></span>Contact Sales</a>
                <button class="button --download" href="#"><span class="ari-download"></span>Download free
                    trial</button>
            </div>
        </div>
    </div>
</section>