<dialog class="basket">
    <div class="basket__wrap --loading">
        <div class="basket__top-cart">
            <p>Cart</p>
            <button class="button --close --bold" closeBasket></button>
        </div>
        <div class="basket__new-sub">New subscriptions</div>

        <div class="basket__content">
        </div>

        <div class="basket__container">
            <div class="basket__footer">
                <div class="basket__footer-top">
                    <p>Subtotal</p>
                    <h3 class="basket__total">$0,000.00</h3>
                </div>

                <div class="basket__footer-desk">Tax is calculated at checkout</div>
            </div>

            <button class="button --check-out">Check out</button>

            <div class="basket__footer-bottom">
                Credit and debit cards, PayPal, Pay by Bank and direct debit (ACH) accepted.
            </div>
        </div>
    </div>

    <div class="basket__close" closeBasket>X</div>
</dialog>