.header {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100%;

    padding: 1rem 0;


    background-color: var(--color-black);

    & .header__left {
        display: flex;
        align-items: center;

        min-width: 100%;
    }

    & .header__logo-company {
        width: 9rem;
        height: 100%;

        margin: 10px 1rem 0 0;

        @media (max-width: 380px) {
            width: 6rem;
        }

        @media (max-width: 320px) {
            width: 5rem;
        }
    }
}

.header__burger {
    position: relative;

    margin: 10px 24px 0 0;

    font-size: 20px;
    color: var(--color-light);

    cursor: pointer;

    &::before {
        font-family: 'markfont' !important;
        content: var(--header-burger-icon, '\e92d');
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 50%;
        right: -12px;

        width: 2px;
        height: 20px;

        content: '';

        background: var(--color-light-op-40);
    }

    &.--active {
        --header-burger-icon: '\e906';
    }
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;

    & .header__search {
        display: inline-flex;

        & .header__input {
            position: relative;

            height: 40px;
            width: 100%;

            padding: 4px 12px 4px 34px;

            color: var(--color-light);
            font-size: 16px;
            line-height: 32px;

            border: none 0px;
            border-radius: 4px;
            background-color: var(--color-dark-grey);

            outline: none;
            appearance: none;

            @media (max-width: 925px) {
                display: none;
            }
        }

        &:hover {
            box-shadow: 0 0 1px 1px var(--color-blue-violet);
            border-radius: 4px;
        }

        & .header__btn-searh {
            position: absolute;

            display: inline-flex;
            align-items: center;

            color: var(--color-light);
            font-size: 20px;

            transform: translate(8px, 10px);

            @media (max-width: 925px) {
                position: static;

                padding: 10px;
                transform: none;

                &:hover {
                    background-color: var(--color-light-op-10);
                    border-radius: 5px;
                }
            }

            @media (max-width: 500px) {
                margin: 0;
            }
        }

        @media (min-width: 925px) {
            order: -1;
            margin: auto auto auto 0;
        }
    }

    @media (max-width: 420px) {
        gap: 0;

        & span {
            font-size: 18px !important;
        }
    }
}

.header__baket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & .header__btn-basket {
        position: relative;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 10px;

        &::after {
            position: absolute;
            right: 5%;
            top: 45%;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 1px;

            min-width: 16px;
            min-height: 16px;

            content: attr(data-basket-counter);

            line-height: 1px;
            font-size: 11px;
            font-weight: 600;

            border-radius: 8px;
            background-color: var(--color-blue-violet);
            color: var(--color-light);
        }

        &:hover {
            background-color: var(--color-light-op-10);
            border-radius: 5px;
        }
    }

    & span {
        position: relative;

        font-size: 24px;
        color: var(--color-light);
    }
}

.header__lang {
    position: relative;
    display: flex;
    align-items: center;

    padding: 10px;

    color: var(--color-light);

    & .header__btn-lang {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        & h2 {
            font-size: 1rem;
        }

        & span {
            font-size: 1.7rem;
        }
    }

    &:hover {
        background-color: var(--color-light-op-10);
        border-radius: 5px;
    }
}

.header__sign-up {
    position: relative;
    display: flex;
    align-items: center;

    padding: 10px;

    & .header__btn-sign-up {
        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--color-light);

        & h2 {
            font-size: 1rem;

            @media (max-width: 785px) {
                display: none;
            }
        }

        & span {
            font-size: 1.7rem;
        }
    }

    @media (min-width: 925px) {
        &::before {
            position: absolute;
            inset: auto auto auto -5px;

            width: 1px;
            height: 100%;

            content: '';

            background-color: var(--color-light-op-40);
        }
    }

    &:hover {
        background-color: var(--color-light-op-10);
        border-radius: 5px;
    }
}

.header__account {
    position: relative;
    cursor: pointer;
}

.user-account {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    aspect-ratio: 1;

    padding: 6px;

    font-size: 30px;
    color: var(--color-light);

    border-radius: 50%;
}

.user-account__menu {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 9999;

    display: block;

    width: 270px;

    padding: 16px 0 0;

    background: var(--color-light);
    box-shadow: 0 0 0 1px var(--color-black);
    border-radius: 4px;

    &::after {
        position: absolute;
        right: 8px;
        top: -3px;

        content: "";

        border-radius: 10px 10px 0 0;
        border-bottom: 8px solid white;
        border-left: 9px solid transparent;
        border-right: 8px solid transparent;

        transform: translateY(-50%);
    }
}

.user-account__top {
    width: 100%;

    padding: 0 16px 24px;

    font-size: 16px;

    border-bottom: 2px solid var(--color-medium-light-gray);
}

.user-account__fullname {
    margin-top: 4px;

    font-size: 13.5px;
    font-weight: 100;

    opacity: 0.7;
}

.user-account__btn-sign-out {
    min-width: 100%;

    margin-top: 16px;
    padding: 4px 0;

    text-align: center;

    box-shadow: 0 0 0 1px var(--color-black);
    background: transparent;

    & button {
        width: 100%;
    }
}

.user-account-section {
    display: flex;
    flex-flow: column;

    padding: 8px 0;
}

.user-account-section__top {
    font-size: 16px;

    cursor: pointer;

    &:hover {
        background: var(--color-very-light-gray);
    }
}

.user-account-section__title {
    position: relative;

    display: flex;
    align-items: center;
    
    padding: 8px 12px;

    & span {
        margin-right: 8px;
        font-size: 24px;
    }
}

.user-account-section__links {
    display: flex;
    flex-flow: column;
}

.user-account-section__item {
    font-size: 14px;
    opacity: 0.8;

    padding: 8px 46px;

    list-style: none;

    &:hover {
        background: var(--color-very-light-gray);
    }
}