.subhead {
    position: sticky;
    top: 0;
    z-index: 2000;

    display: flex;
    align-items: center;

    /* height: 55px; */
    width: 100%;

    background: var(--color-light);
    border-bottom: 1px solid var(--color-semi-transp-light-gra);
}

.subhead__wrap {
    display: flex;
    justify-content: space-between;

    width: 100%;
    min-height: 55px;
}

.subhead__first {
    position: relative;
    display: flex;
    flex: 1;

    @media (max-width: 968px) {
        flex-flow: column;
    }
}

.subhead__item {
    --more-size: 50px;
    --more-dropdown-size: 223px;
    --more-dropdown-right: calc((var(--more-dropdown-size) - var(--more-size)) * -1);
    --menu-more-item-height: 46px;

    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-flow: column;

    width: max-content;
    min-height: 55px;

    padding: 0 24px;

    &:first-child {
        padding-left: 0;
    }

    &:not(:first-of-type):hover {
        background-color: #f7f7f7;
    }

    &.--industries {
        order: 2;
    }

    &.--brend {
        padding-left: 0;
    }

    &.--more {
        position: relative;
        z-index: 1;

        display: var(--display-menu-more, none);
        align-items: center;
        justify-content: center;
        order: 1;

        width: var(--more-size);

        padding: 0;

        &::before {
            content: var(--subhead-item-more-content, '\e924');

            font-family: 'markfont' !important;
            font-size: 16px;

            scale: var(--subhead-item-more-scale, none);
            transition: scale .25s linear;
        }

        &.--is-open {
            ~* {
                --more-dropdown-display: flex;
            }
        }

        @media (max-width: 1200px) {
            --display-menu-more: inline-flex;
            order: 3;
        }

        @media (max-width: 968px) {
            --subhead-item-more-content: '\e920';

            position: absolute;
            inset: 0 0 auto auto;

            &.--is-open {
                --subhead-item-more-scale: -1;
            }

            &:not(.--is-open) {
                ~*:not(:first-child):not(.--brend) {
                    display: none;
                }
            }
        }

        @media (min-width: 968px) and (max-width: 1420px) {
            --display-menu-more: inline-flex;

            ~.--industries {
                --subhead-link-arrow-align: space-between;
                --subhead-link-arrow-transform: rotate(-90deg);
                --subhead-item-focus-menu-disp: none;

                --subhead-btn-full-margin: 0;

                --subhead-dropdown-position: static;
                --subhead-dropdown-border: none;
                --subhead-dropdown-radius: 0;
                --subhead-dropdown-fill: none;
                --subhead-dropdown-padding: 0;

                position: absolute;
                inset: 100% var(--more-dropdown-right) auto auto;

                display: var(--more-dropdown-display, none);

                width: var(--more-dropdown-size);
                min-height: var(--menu-more-item-height);

                padding: 0;

                border: 1px solid #cdcdcd;
                border-top: 0;
                border-radius: 0 0 12px 12px;
                background: var(--color-light);

                overflow: hidden;
            }

            ~*:has(input:checked) {
                --subhead-link-arrow-transform: rotate(0deg);

                border-radius: 0 0 12px 12px;
                border: 1px solid #cdcdcd;

                + .subhead__item {
                    display: none;
                }
            }
        }

        @media (min-width: 968px) and (max-width: 1200px) {
            ~.--software {
                --subhead-link-arrow-align: space-between;
                --subhead-link-arrow-transform: rotate(-90deg);
                --subhead-item-focus-menu-disp: none;

                --subhead-btn-full-margin: 0;

                --subhead-dropdown-position: static;
                --subhead-dropdown-border: none;
                --subhead-dropdown-radius: 0;
                --subhead-dropdown-fill: none;
                --subhead-dropdown-padding: 0;

                position: absolute;
                inset: 100% var(--more-dropdown-right) auto auto;

                display: var(--more-dropdown-display, none);

                padding: 0;

                width: var(--more-dropdown-size);
                min-height: var(--menu-more-item-height);

                border: 1px solid #cdcdcd;
                border-top: 0;
                border-radius: 0;
                background: var(--color-light);

                overflow: hidden;
            }

            ~.--industries {
                inset: calc(100% + var(--menu-more-item-height)) var(--more-dropdown-right) auto auto;
            }
        }
        
    }

    &:not(.--more) {
        &:focus-within .subhead__dropdown-menu {
            display: var(--subhead-item-focus-menu-disp, flex);
        }
    }
}

.subhead__btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 24px;

    font-size: 14px;

    cursor: pointer;
    transition: background .2s linear;

    &.--logo {
        font-weight: 800;
        font-size: 14px;

        & img {
            width: 24px;
        }
    }

    &.--arrow {
        justify-content: var(--subhead-link-arrow-align, normal);

        &::after {
            content: '\e920';

            font-size: 11px;
            font-family: 'markfont' !important;
            line-height: 1;

            transform: var(--subhead-link-arrow-transform, none);
        }
    }

    &.--full-flow {
        align-self: normal;
        flex: 1;

        margin: var(--subhead-btn-full-margin, 0 -24px);
        padding-left: 24px;
        padding-right: 24px;
    }

    &.--back {
        position: relative;

        input {
            position: absolute;
            inset: 0;

            opacity: 0;
        }

        @media (min-width: 1350px) {
            input {
                display: none;
            }
        }

        & span:first-of-type {
            display: var(--link-first-disp, unset);
        }

        & span:last-of-type {
            display: var(--link-last-disp, none);
        }

        &:has(input:checked) {
            --link-first-disp: none;
            --link-last-disp: inline-flex;

            background-color: var(--color-light);
            border-bottom: 1px solid #cdcdcd;

            &+.subhead__dropdown-menu {
                display: inline-flex;
            }
        }
    }

    @media (hover: hover) {
        &:not(.--logo):hover {
            background: rgba(0, 0, 0, .1);
        }
    }
}

.subhead__dropdown-menu {
    display: none;
    flex-flow: column;

    padding: var(--subhead-dropdown-padding, 0);

    white-space: nowrap;
    min-width: max-content;

    @media (min-width: 968px) {
        position: var(--subhead-dropdown-position, absolute);
        inset: 100% 0 auto 0;

        border: var(--subhead-dropdown-border, 1px solid #dcd9d9);
        border-radius: var(--subhead-dropdown-radius, 0 0 8px 8px);
        background: var(--subhead-dropdown-fill, white);
    }
}

.subhead__second {
    display: flex;
    align-items: center;
    gap: 24px;

    & button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    @media (max-width: 968px) {
        display: none;
    }
}

.subhead__item-contact {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 10px 16px;
    border-radius: 3px;

    font-size: 14px;

    & .ari-contact {
        font-size: 16px;
        font-weight: 600;
    }

    & .ari-arrow-down {
        margin-left: 8px;
    }

    &.--hover:hover {
        box-shadow: inset 0 0 0 2px var(--color-blue-violet);
    }
}